@use "../common/variables.scss";
@use "../common/mixins.scss";

.carousel {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.carousel__slider {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}

.carousel__page-button {
  color: #7859cf;
  background-color: transparent;
  border: none;
  width: 50px;
}

.carousel__page-button:hover:not(:disabled),
.carousel__page-button:focus:not(:disabled) {
  background: linear-gradient(90deg, transparent 0%, variables.$base-white 100%);
}

.carousel__page-button:active:not(:disabled) {
  background: linear-gradient(90deg, rgba(variables.$primary-opacity, 0) 0%, variables.$primary-opacity 100%);
}

.carousel__page-button:disabled {
  color: variables.$base-gray;
}

.carousel__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 60px;

  @media (min-width: variables.$tablet-width) {
    padding: 60px 50px 0;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image text";
    gap: 30px;
    padding: 10px 100px 30px;
    display: grid;
  }
}

.carousel__content-wrapper {
  @media (min-width: variables.$desktop-width) {
    grid-area: text;
    text-align: left;
    padding-top: 9px;
    padding-bottom: 0;
    display: block;
  }
}

.carousel__title {
  text-align: center;
  margin-bottom: 8px;
  @include mixins.font-style(37px, 48px, 700);

  @media (min-width: variables.$tablet-width) {
    margin-left: 1px;
    padding-bottom: 6px;
    @include mixins.font-style(58px, 80px, 700);
  }

  @media (min-width: variables.$desktop-width) {
    text-align: left;
    margin-left: 1px;
    padding-bottom: 6px;
    @include mixins.font-style(57px, 80px, 700);
  }
}

.carousel__image-wrapper {
  @media (min-width: variables.$mobile-width) {
    margin-bottom: 5px;
  }

  @media (min-width: variables.$tablet-width) {
    order: 2;
    padding-top: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-area: image;
  }
}

.carousel__label {
  @media (min-width: variables.$mobile-width) {
    margin-bottom: 4px;
  }

  @media (min-width: variables.$desktop-width) {
    text-align: left;
  }
}

.carousel__description {
  text-align: center;
  margin: 0 0 20px;
  @include mixins.font-style(16px, 24px, 400);

  @media (min-width: variables.$tablet-width) {
    @include mixins.font-style(20px, 32px, 400);
  }

  @media (min-width: variables.$desktop-width) {
    text-align: left;
    margin-bottom: 40px;
  }
}

.advertisement {
  @media (min-width: variables.$desktop-width) {
    justify-content: left;
  }
}

.carousel__advertisement {
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-top: auto;
  display: flex;

  @media (min-width: variables.$desktop-width) {
    justify-content: left;
  }
}

.advertisement__price-before {
  color: #7859cf;
  margin: 0 6px 0 0;
  @include mixins.font-style(16px, 32px, 400);
  text-decoration-line: line-through;
}

.advertisement__price-after {
  margin: 0 21px 0 0;
  @include mixins.font-style(20px, 32px, 600);
}

.carousel__make-order {
  @include mixins.font-style(16px, 24px, 400);
}

.carousel__slider-container {
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
  inset: 0;
}

.carousel__slider-navigation {
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.carousel__item {
  visibility: hidden;
  grid-area: 1 / 1 / -1 / -1;
  background-color: #f3ebe1;

  @media (min-width: variables.$mobile-width) {
    &:nth-child(1n) {
      background-color: variables.$flat-white;
    }

    &:nth-child(2n) {
      background-color: variables.$lavender-latte;
    }

    &:nth-child(3n) {
      background-color: variables.$espresso;
    }
  }

  @media (min-width: variables.$pre-tablet-width) {
    &:nth-child(1n) {
      background-color: unset;
      background-image: linear-gradient(0deg, transparent 200px, variables.$flat-white 198px);
    }

    &:nth-child(2n) {
      background-color: unset;
      background-image: linear-gradient(0deg, transparent 200px, variables.$lavender-latte 198px);
    }

    &:nth-child(3n) {
      background-color: unset;
      background-image: linear-gradient(0deg, transparent 200px, variables.$espresso 198px);
    }
  }

  @media (min-width: variables.$desktop-width) {
    &:nth-child(1n) {
      background-color: variables.$flat-white;
      background-image: none;
    }

    &:nth-child(2n) {
      background-color: variables.$lavender-latte;
      background-image: none;
    }

    &:nth-child(3n) {
      background-color: variables.$espresso;
      background-image: none;
    }
  }
}

.carousel__item--active {
  visibility: visible;
}

.carousel__pagination {
  z-index: 1;
  display: none;

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    gap: 8px;
    display: flex;
    left: 43%;
    bottom: 2%;
  }
}

.carousel__pagination-item {
  cursor: pointer;
  background: #fff padding-box content-box;
  border: none;
  width: 62px;
  height: 24px;
  padding: 10px 0;

  &:active,
  &--active {
    background-color: #7859cf;
  }
}

.carousel__page-button--before {
  transform: rotateY(180deg);
}
